[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
"backports.entry-points-selectable" = "==1.1.0"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.4"
distlib = "==0.3.2"
django-cors-headers = "==3.8.0"
environs = "==9.3.3"
filelock = "==3.0.12"
idna = "==3.2"
marshmallow = "==3.13.0"
pipenv = "==2021.5.29"
platformdirs = "==2.2.0"
python-dotenv = "==0.19.0"
pytz = "==2021.1"
requests = "==2.26.0"
six = "==1.16.0"
sqlparse = "==0.4.1"
urllib3 = "==1.26.6"
virtualenv = "==20.7.2"
virtualenv-clone = "==0.5.6"
Django = "==3.2.6"
pillow = "*"
django-livereload-server = "*"
whitenoise = "*"
jwt = "*"
pyjwt = "*"
django-mathfilters = "*"
curlify = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
channels = "*"
channels-redis = "*"
django-extensions = "*"
python-dateutil = "*"
mysql = "*"
mysqlclient = "*"
pre-commit = "*"
ndg-httpsclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
