<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">BGP Stream</a>

    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/documentation">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/install">Install</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/ripe">RIPE</a>
              <a class="dropdown-item" href="/route">Rout View</a>
              
            </div>
          </li>
              <li class="nav-item">
          <a class="nav-link text-light" href="/contact">Contact</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3 d-flex d-flex-inline">
        <li class="nav-item text-nowrap flex-md-nowrap">
            <a class="nav-link" href="#"></a>
        </li>
       
    </ul>
</nav>